# {{date_formatted}}

Clicks (web)|Impressions (web)
---|---
{{clicks}}|{{impressions}}

## Top growing pages

Page | Clicks (web)
---|---
{{#growing_pages}}
{{url}}|{{growth}}
{{/growing_pages}}

## Top performing pages

Page | Clicks (web)
---|---
{{#performing_pages}}
{{url}}|{{hits}}
{{/performing_pages}}

## Top growing queries
Query|Growth
---|---
{{#growing_queries}}
{{query}}|{{growth}} ({{device}})
{{/growing_queries}}

## Top performing queries
Query | Clicks (web)
---|---
{{#top_queries}}
{{query}}|{{hits}}
{{/top_queries}}

##  Devices By clicks

Desktop|Mobile|Tablet
---|---|---
{{device_breakdown.web}}|{{device_breakdown.mobile}}|{{device_breakdown.tablet}}

## Top countries
Country|Clicks
---|---
{{#country_breakdown}}
{{country}}|{{hits}}
{{/country_breakdown}}

## Google Search Type

Type|Hits
---|---
{{#type_breakdown}}
{{type}}|{{hits}}
{{/type_breakdown}}
